<%- include("partials/header"); -%>
<h1>Login</h1>
<form class="" action="/register" method="post">
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="email" name="postTitle">
    <label>password</label>
    <input class="form-control" type="password" name="Author">
  </div>
  <button class="btn btn-primary" type="submit" name="button">Login</button>
</form>
<%- include("partials/footer"); -%>
